@import "variables";

.Button {
  background-color: $shade40;
  color: $linkcolor;
  padding: $iiMarginSmall $iiMarginNormal;
  border: 1px solid $linkcolor;
  border-radius: $borderRadius;

  &:hover {
    background-color: $shade50;
  }
}