@import "variables";

.Input {
  color: $shade60;
  padding: $iiMarginSmall $iiMarginNormal;
  border: 1px solid $shade97;
  border-radius: $borderRadius;
}

.Input-isSmall { width: 100%; max-width: 200px; }
.Input-isWide { width: 100%; }
.TextInput { height: 200px; }