// Responsive Breakpoints
$fixedBreakpoint: 600px;

// Margins
$iiMarginMini:    6px;
$iiMarginSmall:   10px;
$iiMarginNormal:  15px;
$iiMarginLarge:   20px;
$iiMargin2x:      30px;

// Gray paletter
$shade10:   #000000;
$shade20:   #180E0A;
$shade30:   #2E1B14;
$shade40:   #523024;
$shade50:   #754535;
$shade60:   #A86750;
$shade70:   #B9735A;
$shade80:   #DDA695;
$shade85:   #F3B6A0;
$shade90:   #FFC3B4;
$shade97:   #FFD0D3;
$shade100:  #FFFFFF;

$linkcolor: #FFB65E;
$errorBackgroundColor: #FF5E64;
$noticeBackgroundColor: #32B140;


$borderRadius: 5px;
