// Responsive Breakpoints
$fixedBreakpoint: 600px;

// Margins
$iiMarginMini:    6px;
$iiMarginSmall:   10px;
$iiMarginNormal:  15px;
$iiMarginLarge:   20px;
$iiMargin2x:      30px;

// Gray paletter
$shade10:   #000000;
$shade20:   #180E0A;
$shade30:   #2E1B14;
$shade40:   #523024;
$shade50:   #754535;
$shade60:   #905743;
$shade70:   #b5ad9d;
$shade80:   #AC6952;
$shade85:   #DDA695;
$shade90:   #F3B6A0;
$shade97:   #FFC3B4;
$shade100:  #FFD0D3;

$linkcolor: #ECB4EC;


$borderRadius: 5px;
