@import "variables";

body {
  font-family: Optima,Candara, Helvetica, Arial, sans-serif;
  font-size: 17px;
  word-wrap: break-word;
  color: $shade97;
  background-color: $shade40;
  padding: $iiMarginSmall;
  padding-bottom: $iiMargin2x;
}

a {
  color: $linkcolor;

  &:visited {
    color: $linkcolor;
  }

  &:hover {
    color: #fff;
  }
}